@import "tailwindcss";
@font-face {
    font-family:'Roboto-Bold' ;
    src: url(./assets/font/Roboto-Bold.ttf);
}
.plan{
    border: 2px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #22c55e, #84cc16) border-box;
  
}
.box{
     border: 2px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #22c55e, #84cc16) border-box;
}
.motive{
    filter: invert();
}